* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Llamamos a nuestra tabla creada en html*/
.board {
    margin: 100px auto 0; /*centramos la tabla*/
    border-collapse: collapse; /*Junta todos los bordes de la celda*/
}

/*Aplicamos estilo a cada celda de nuestra tabla*/
.board td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: cursive;
}

/*Aplicamos hover(cuando pasa por encima de la celda cambie de color (hace alucion a que va a seleccionar esa celda) para cada celda de la tabla*/
.board td:hover {
    background-color: gray;
}