* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    font-family: cursive;
}

/*STYLE FOR THE HEADER AND TITLE "Tic Tac Toe"*/
header {
    margin-top: 40px;
    font-size: 4rem;
    font-weight: bold;
}
/*Añadiendo color para la letra Tic*/
.green{
    color: rgb(141, 173, 13);
}
/*Añadiendo color para la letra Tac*/
.yellow{
    color: #FFFF00;
}
/*Añadiendo color para la letra Toc*/
.red{
    color: #FF0000;
}

/*STYLE FOR THE MESSAGE WINNER OR TIE*/
#message {
    text-align: center;
    border: 4px dotted #669900;
    margin: 40px 650px;
    height: 50px;
    color: #CCFF33;
    font-weight: bold;
}

/*STYLE FOR THE TABLE AND CELLS*/
.board {
    margin: 50px auto 0; /*centramos la tabla*/
    border-collapse: collapse; /*Junta todos los bordes de la celda*/
}

/*Aplicamos estilo a cada celda de nuestra tabla*/
.board td {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/*Aplicamos hover(cuando pasa por encima de la celda cambie de color (hace alucion a que va a seleccionar esa celda) para cada celda de la tabla*/
.board td:hover {
    background-color: #CDDC39;
}

/*STYLE FOR THE BUTTON "PLAY AGAIN"*/
button {
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #CC0000;
    border: none;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #990033;
}